
.login-form {
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
    margin-top: 25px;
    margin-left: 45px;
}
  
.login-form .columns.row {
    display: block;
}
  
.login-form h3, .login-form label {
    color: #fefefe;
}
  
.login-form input, .login-form select {
    color: #8a8a8a;
}
  
.login-form input::-webkit-input-placeholder {
    color: #8a8a8a;
}
  
.login-form input:-ms-input-placeholder {
    color: #8a8a8a;
}
  
.login-form input::placeholder {
    color: #8a8a8a;
}
  
  