.thumbnail{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.blog-post{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
}

h3, p {
    margin-left: 10px;
}

.callout{
    margin-right: 10px;
    margin-left: 10px;
}

i{
    margin-left: 5px;
}
